.main-asset-tab-container {
  display: flex;
  width: 100%;
  height: inherit;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  //min-height: 100vh;
  .left-side {
    //background-color: aliceblue;
    //margin: auto;
   // height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
  }
  .right-side {
    //background-color: burlywood;
    width: 28%;
    height: 10%;

    //margin: auto;

    //width: auto;
    //  flex-grow: 1;
  }

  @media (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .left-side {
      //flex-grow: 1;
      width: 100%;
      min-height: 0%;
    }
    .right-side {
      // flex-grow: 1;
      margin: 20px 0;

      min-height: 0%;
      width: 100%;
    }
  }
}
