.main-search-bar-container {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(189, 153, 153, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background-color: white;
  border-radius: 10px;
  width: calc(100% - 20px);
  padding: 15px 8px;
  margin-bottom: 20px;
  .search-bar-busqueda-avanzada {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    width: 100%;
    .search-bar-busqueda-avanzada-label {
      color: purple;
      cursor: pointer;
      text-decoration: underline;
    }
    .advanced-search-inputs {
      margin-top: 10px;
      display: flex;
      width: 100%;
      flex-direction: row;
    }
  }
  .main-search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    //width: calc(100% - 60px);
    width: 100%;
    .search-side {
      width: 50%;
    }
    .action-side {
      justify-content: flex-end;
      width: 50%;
      display: flex;
      flex-direction: row;
      //width: 40%;
    }
  }
  @media (max-width: 960px) {
    .search-bar-busqueda-avanzada {
      display: none;
    }
  }
  @media (max-width: 600px) {
    //padding: 10px 0px;
    margin: auto;
    margin: 10px 0px;
    .main-search-bar {
      flex-direction: column;
      padding: 0 5px;
      width: auto;

      .search-side {
        width: 100%;
        padding-bottom: 2%;
      }
      .action-side {
        width: 100%;
      }
    }
  }
}
.image-add-icon {

  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  border: 0.5 dotted #5f2020;
}
