.main-page-wrapper {
  background-color: rgb(243, 246, 249);
  display: flex;
  flex-direction: column;
  width: 100%;
  .menu-button-mobile {
    display: none;

   
  }
  @media (max-width: 600px) {
    .menu-button-mobile {
      display: flex;
    }
  }
}
