.quantum-main-title {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 10px;
  @media (max-width: 600px) {
    //position: relative;
    font-size: 1.5rem;
  }
}
.quantum-small-title{
  font-size: 1.65rem;
  font-weight: 450;
  padding-left: 10px;
  margin: 5px 0;
  @media (max-width: 600px) {
    margin: 5px 0;

    // position: relative;
    font-size: 1.2rem;
  }
}
.quantum-sub-title {
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 10px;
  margin: 10px 0;
  @media (max-width: 600px) {
    margin: 5px 0;

    // position: relative;
    font-size: 1.1rem;
  }
}
