.panel-activos-container {
  padding: 15px 7px;
  width: calc(100% - 14px);
  border-radius: 6px;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
/* .advanced-search-inputs {
  margin-top: 5px;
  //padding: 0 10px 10px 10px;
  display: flex;
  width: 98%;
  flex-direction: row;
  @media (max-width: 960px) {
    flex-direction: column;
  }
} */
.advanced-search-inputs {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  @media (max-width: 960px) {
    flex-direction: column;
  }
}
